<launch>

    <node name="rosbag" pkg="rosbag" type="play" args=" $(find ekf)/bag/pnp_flow_1.bag -r 0.5" />
    <node pkg="ekf" type="ekf" name="ekf" output="screen">
        <remap from="~imu" to="/dji_sdk_1/dji_sdk/imu"/>
 	<remap from="~tag_odom" to="/tag_detector/odom_yourwork"/>
	<remap from="~optical_flow_odom" to="/opticalflow_node/opticalflow_odom"/>
    </node>

    
    <node pkg="optical_flow" type="optical_flow" name="optical_flow" output="log">
        <remap from="~image_raw" to="/camera/image_raw"/>
    </node>
    

    <node pkg="tag_detector" type="tag_detector" name="tag_detector" output="log">
        <remap from="~image_raw" to="/camera/image_raw"/>
        <param name="cam_cal_file" type="string" value="$(find ekf)/config/camera_ekf.yml"/>
        <param name="board_config_file" type="string" value="$(find ekf)/config/mat_ekf.yml"/>
    </node>


</launch>
